h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

// .allproducts {
// }

.product {
  width: 100%;
  border-bottom: 1px solid gray;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__brand {
    width: 20%;
  }
  &__name {
    width: 70%;
    text-align: left;
    color: purple;
  }
  &__price {
    width: 10%;
  }
}
