#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  .data {
    display: flex;
  }
}

.sort {
  background-color: gray;
  max-width: 500px;
  &__table {
    background-color: aqua;
    display: flex;
    flex-direction: column;

    color: rebeccapurple;
  }
  &__brandname {
    display: flex;
    flex-direction: column;
  }
  .choice {
    display: flex;
  }
}
